nifi/generate_line_time_fact.json
{"flowContents":{"identifier":"30b23238-6be3-3982-966c-9d13c3293956","instanceIdentifier":"479a4529-0195-1000-3a49-17535678496b","name":"Generate LINEITEM Fact table","comments":"","position":{"x":-72.0,"y":-248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cf7b9dc6-3ca3-3875-942b-13c5e672795a","instanceIdentifier":"4df8aeb6-0195-1000-4328-dfe6cd0fcbf1","name":"ExecuteSQL","comments":"","position":{"x":0.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"70277b92-0dac-32cd-b8c9-cb80db94b052","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"8198bdb4-bf70-3c88-9a66-f824f526db26","instanceIdentifier":"5e2787c6-2766-3d71-d719-903f0a33e723","name":"MergeRecord","comments":"","position":{"x":632.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"071d46a2-b7d2-379b-a9e2-36ae011afa99","merge-strategy":"Defragment","record-reader":"3f0f3158-74dd-339b-8274-660c7cefdd6f","max-records":"10000000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"8b0a371d-380a-3571-93e5-9cfb721721c8","instanceIdentifier":"6eb38a30-05ff-3ed7-24c4-23885aeaeb0b","name":"PutFile","comments":"","position":{"x":-72.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/mariam/test/line_item","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"8fa02bcb-bdee-3c59-af30-b810d1de723f","instanceIdentifier":"77422951-db98-3032-ca7a-78ae2065dcea","name":"ConvertAvroToParquet","comments":"","position":{"x":648.0,"y":-16.0},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.2.0"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"3d862b89-bc65-367f-81e1-69d41e355514","instanceIdentifier":"a92ae66c-337f-3195-8799-0d9c82c1897b","name":"GenerateTableFetch","comments":"","position":{"x":-656.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"LINEITEM","db-fetch-db-type":"MySQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"70277b92-0dac-32cd-b8c9-cb80db94b052","gen-table-fetch-partition-size":"100000","Columns to Return":"L_ORDERKEY, L_PARTKEY, L_SUPPKEY, L_QUANTITY, L_EXTENDEDPRICE, L_DISCOUNT, L_TAX, L_SHIPDATE","Maximum-value Columns":null,"db-fetch-where-clause":null,"Database Dialect Service":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"100000000000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8ebb56a3-8dbb-3328-84bf-56fee71f3656","instanceIdentifier":"08a98679-af03-3cfe-9d62-db1d03580223","name":"","source":{"id":"8fa02bcb-bdee-3c59-af30-b810d1de723f","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"77422951-db98-3032-ca7a-78ae2065dcea"},"destination":{"id":"8b0a371d-380a-3571-93e5-9cfb721721c8","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"PutFile","comments":"","instanceIdentifier":"6eb38a30-05ff-3ed7-24c4-23885aeaeb0b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"f2518995-4e6e-3070-8344-d2edb1c301d4","instanceIdentifier":"22b6e9c5-36e1-3553-9062-f183334125be","name":"","source":{"id":"8198bdb4-bf70-3c88-9a66-f824f526db26","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"MergeRecord","comments":"","instanceIdentifier":"5e2787c6-2766-3d71-d719-903f0a33e723"},"destination":{"id":"8fa02bcb-bdee-3c59-af30-b810d1de723f","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"77422951-db98-3032-ca7a-78ae2065dcea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"1875dfff-ad1c-33c1-b7ef-94807ff1d271","instanceIdentifier":"4df94a53-0195-1000-33d9-dd552ed9c152","name":"","source":{"id":"cf7b9dc6-3ca3-3875-942b-13c5e672795a","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"ExecuteSQL","comments":"","instanceIdentifier":"4df8aeb6-0195-1000-4328-dfe6cd0fcbf1"},"destination":{"id":"8198bdb4-bf70-3c88-9a66-f824f526db26","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"MergeRecord","comments":"","instanceIdentifier":"5e2787c6-2766-3d71-d719-903f0a33e723"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"5d6403ed-0e18-381c-ab6b-04a1821f8803","instanceIdentifier":"12b883f9-5df3-39f3-98c0-5ea7e3928208","name":"","source":{"id":"3d862b89-bc65-367f-81e1-69d41e355514","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"GenerateTableFetch","comments":"","instanceIdentifier":"a92ae66c-337f-3195-8799-0d9c82c1897b"},"destination":{"id":"cf7b9dc6-3ca3-3875-942b-13c5e672795a","type":"PROCESSOR","groupId":"30b23238-6be3-3982-966c-9d13c3293956","name":"ExecuteSQL","comments":"","instanceIdentifier":"4df8aeb6-0195-1000-4328-dfe6cd0fcbf1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7772ed5d-f83e-3064-93b0-34c96647bf02","instanceIdentifier":"2167c77e-b25e-3d05-9fe0-f476ac3ef54e","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"70277b92-0dac-32cd-b8c9-cb80db94b052","instanceIdentifier":"ee391cfa-3634-3cc1-fdc9-fd7d33355c91","name":"DB connect","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://localhost:3306/tpch","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/drivers/mysql-connector-java-8.0.19.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"071d46a2-b7d2-379b-a9e2-36ae011afa99","instanceIdentifier":"773d4b7e-77f6-3f2a-3ba8-3a9fd4c752bf","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"3f0f3158-74dd-339b-8274-660c7cefdd6f","instanceIdentifier":"708703e3-f5b0-3e43-a258-e05e61b80a3d","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"},{"identifier":"00c8026b-e1e8-3740-aa32-e47f4a2aa61e","instanceIdentifier":"fedf21db-71d6-3443-ebd4-bb197f770974","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b23238-6be3-3982-966c-9d13c3293956"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}